<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Report</title>
</head>
<body>
    <h1>Task Report</h1>
    <div>
        <h2>Task Statuses:</h2>
        <ul>
            {% for task in tasks_data %}
                <li>{{ task.name }} - {{ task.task_status }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Task Status Graph:</h2>
        {{ plot | safe }}
    </div>
</body>
</html>
